.star {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 999;
}

html,
body {
  padding: 0;
  margin: 0;
  background-image: url(./image/TEXTURE-background.jpg);
}

main {
  height: 300vh;
}

p {
  font-family: helvetica, sans-serif;
  color: #eee;
}

.banner {
  height: 100vh;
  background-color: aquamarine;
  background-image: url(./image/lucas-y-yo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
